@use "./variables" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;
@use "./resets" as *;

// ! .. Footer Section Below .. ! //

.footer {
  width: 100%;
  background-color: $bandsite-black;
  color: $bandsite-white;
  padding: $mobile__heading--padding;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 0 1.6rem;

  &__icon {
    padding-right: 2rem;
  }
  &__logo-tabplus {
    display: none;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 2.4rem 0 1.6rem 0;
  }
  &__contact {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    padding: 1.6rem 0 0 0;
  }
  &__standout {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding: 1.6rem 0 0 0;
  }

  &__copyright {
    padding: 0.8rem 0 2rem 0;
  }

  &__logo {
    min-width: 12rem;
    min-height: 2rem;
    padding-top: 1.6rem;
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    padding-bottom: 0.8rem;
  }

  // ! .. Media Queries .. ! //

  @include medium {
    display: flex;
    width: 100vw;
    min-height: 15vw;
    flex-wrap: wrap;
    flex-direction: row;

    &__contact-section {
      display: flex;
      width: 100vw;
      justify-content: space-evenly;
      height: 15rem;
      flex-wrap: wrap;
    }
    &__bandsite {
      display: flex;
      width: 50vw;
      justify-content: flex-end;
      align-self: center;
    }
    &__logo-tabplus {
      display: flex;
      height: 2rem;
      width: 12rem;
    }

    // &__contact {
    //   min-width: 30%;
    // }

    &__title {
      font-size: 3.6rem;
      padding-left: 4rem;

      display: flex;
      justify-content: flex-start;
    }
    &__text {
      @include footer__tab-text;
    }
    &__brand-img {
      display: none;
    }

    &_icons {
      display: inline-flex;
      padding: 1rem 0 0 2rem;
    }
    &__top {
      display: flex;
      flex-direction: row;
      min-width: 100vw;
      justify-content: flex-start;
    }
    &_bottom {
      display: flex;
      flex-direction: row-reverse;
    }
    &__copyright {
      min-width: 100;
      padding-left: 21rem;
      justify-content: flex-start;
    }
  }
  @include large {
    &__contact-section {
      justify-content: flex-start;
      height: 20rem;
    }
    &__contacts {
      padding: 2rem 2rem 0 5rem;
    }
    &__copyright {
      padding: 0 0 2rem 17rem;
    }
    &__title {
      padding-right: 2rem;
    }
    &__bandsite {
      width: 57vw;
    }
  }
}
