@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.nav {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;

  &__brand__img {
    min-width: 12rem;
    min-height: 2rem;
    padding-top: 1.6rem;
  }

  &__container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .nav__container--links {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: $bandsite-silver;
    padding-bottom: 1.6rem;
    width: 50%;
  }
  .nav__container--links--active {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: $bandsite-white;
    padding-bottom: 1.6rem;
    width: 50vw;
    border-bottom: 4px solid white;
  }
  // ! .. Media Queries .. ! //

  @include medium {
    flex-direction: row;

    .nav__container {
      justify-content: flex-start;
      padding: 3rem 4rem 0 4rem;
    }
    .nav__brand__img {
      padding-left: 2.4rem;
    }

    .nav__container--links,
    .nav__container--links--active {
      width: fit-content;
    }
    .nav__container--links {
      width: fit-content;
      padding-left: 4rem;
    }
  }
}

.headers__mobile {
  padding: $mobile__heading--padding;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
