@use "./variables" as *;

// ?.. Mixins ..? //

@mixin img__quality {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

@mixin footer__text {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}
@mixin footer__tab-text {
  font-size: 1.6rem;
  line-height: 2rem;
}
