// colors //
$bandsite-black: #323232;
$bandsite-silver: #afafaf;
$bandsite-white: #ffffff;
$bandsite-darkblack: #000000;
$bandsite-mercury: #e1e1e1;
$bandsite-offwhite: #fafafa;

// padding margin //
$mobile__heading--padding: 1.6rem 1.6rem 0 1.6rem;

// section header mobile //
