@font-face {
  font-family: "AvenirNextRegular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
}
.nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}
.nav .nav__brand__img {
  min-width: 12rem;
  min-height: 2rem;
  padding-top: 1.6rem;
}
.nav .nav__container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav .nav__container--links {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #afafaf;
  padding-bottom: 1.6rem;
  width: 50%;
}
.nav .nav__container--links--active {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #ffffff;
  padding-bottom: 1.6rem;
  width: 50vw;
  border-bottom: 4px solid white;
}
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .nav .nav__container {
    justify-content: flex-start;
    padding: 3rem 4rem 0 4rem;
  }
  .nav .nav__brand__img {
    padding-left: 2.4rem;
  }
  .nav .nav__container--links,
.nav .nav__container--links--active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav .nav__container--links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 4rem;
  }
}

.headers__mobile {
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.footer .footer__icon {
  padding-right: 2rem;
}
.footer .nav__logo__tabplus {
  display: none;
}
.footer .footer__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 2.4rem 0 1.6rem 0;
}
.footer .social__contact {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  padding: 1.6rem 0 0 0;
}
.footer .social__standout {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding: 1.6rem 0 0 0;
}
.footer .social__copyright {
  padding: 1.6rem 0 1.6rem 0;
}
.footer .footer__logo {
  min-width: 12rem;
  min-height: 2rem;
  padding-top: 1.6rem;
}
.footer .footer__text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer .social__contact__section {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 15rem;
    flex-wrap: wrap;
  }
  .footer .footer__bandsite {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-self: center;
  }
  .footer .nav__logo__tabplus {
    display: flex;
    height: 2rem;
    width: 12rem;
  }
  .footer .social__contact {
    min-width: 30%;
  }
  .footer .footer__title {
    font-size: 3.6rem;
    padding-left: 4rem;
    display: flex;
    justify-content: flex-start;
  }
  .footer .footer__text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .footer .nav__brand__img {
    padding-left: 10rem;
    display: none;
  }
  .footer .footer__icons {
    display: inline-flex;
    padding: 1rem 0 0 2rem;
  }
  .footer .footer__top {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    justify-content: flex-start;
  }
  .footer .footer_bottom {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .social__copyright {
    min-width: 58rem;
    padding-left: 21.8rem;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .social__contact__section {
    justify-content: flex-start;
    height: 20rem;
  }
  .footer .social__contacts {
    padding: 2rem 2rem 0 5rem;
  }
  .footer .social__copyright {
    padding: 0 0 2rem 17rem;
  }
  .footer .footer__title {
    padding-right: 2rem;
  }
  .footer .footer__bandsite {
    width: 57vw;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 10px;
  border: 0 none;
  outline: 0;
  margin: 0;
  font-size: 10px;
  font-family: AvenirNextLTPro;
}
* ::-moz-placeholder, *:after ::-moz-placeholder, *:before ::-moz-placeholder {
  overflow: visible;
}
* :-ms-input-placeholder, *:after :-ms-input-placeholder, *:before :-ms-input-placeholder {
  overflow: visible;
}
* ::placeholder,
*:after ::placeholder,
*:before ::placeholder {
  overflow: visible;
}

.hero {
  display: flex;
  background-color: #323232;
  opacity: 0.5;
  max-width: 100%;
  min-height: 20rem;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/Images/hero-bio.jpg");
}
.hero .hero__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-left: 1.6rem;
  color: #ffffff;
  align-self: center;
}
@media only screen and (min-width: 768px) {
  .hero {
    min-height: 30rem;
    min-width: 100%;
  }
}
.hero .hero__title {
  font-size: 3.6rem;
  line-height: 4.4rem;
}

.about {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.6rem 0 1.6rem;
  line-height: 3.2rem;
}
.about .about__image {
  display: flex;
  max-width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.about .about__title {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #323232;
}
.about .about__subtitle {
  color: #323232;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  padding: 2.4rem 0 1.6rem 1.6rem;
}
.about .about__quote {
  padding-top: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 550;
  letter-spacing: 0.05rem;
}
.about .about__info1,
.about .about__info2 {
  display: flex;
  padding-top: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #afafaf;
}
@media only screen and (min-width: 768px) {
  .about .about__image {
    display: flex;
    max-height: 23rem;
    min-width: 75vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    image-rendering: auto;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
  }
  .about .about__quote {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 75vw;
    margin: 0 auto;
  }
  .about .about__title {
    padding-left: 8rem;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 700;
  }
  .about .about__subtitle {
    padding-left: 8rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  .about .about__info__box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    padding: 0 5rem 2.4rem 5rem;
  }
  .about .about__info1,
.about .about__info2 {
    padding: 0 3rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .about .about__image {
    min-height: 33rem;
    max-width: 73vw;
  }
  .about .about__title {
    padding-left: 6rem;
  }
  .about .about__info__box {
    padding: 0 9rem;
  }
  .about .about__subtitle {
    padding-left: 11.5rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

.photo__gallery {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.6rem;
  background-color: #fafafa;
}
.photo__gallery .gallery__title {
  display: block;
  width: 100%;
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #323232;
}
.photo__gallery .mobile__images {
  max-width: 38rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
@media only screen and (min-width: 550px) {
  .photo__gallery .mobile__images {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 550px) and (min-width: 768px) {
  .photo__gallery {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 60rem;
    flex-wrap: wrap;
    padding: 0 0 0.8rem 0;
    justify-content: center;
    margin: 0 auto;
  }
  .photo__gallery .gallery__title {
    width: 100%;
    font-size: 3.6rem;
    padding-top: 5rem;
  }
  .photo__gallery .mobile__images {
    max-width: 260px;
    max-height: 150px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    padding: 0 0.8rem 0 0.8rem;
  }
}
@media only screen and (min-width: 550px) and (min-width: 768px) and (min-width: 1024px) {
  .photo__gallery .gallery__title {
    padding-left: 12.5rem;
  }
  .photo__gallery .mobile__images {
    max-width: 275px;
  }
}

.form__wrapper {
  display: flex;
  justify-content: flex-end;
}

.create__form {
  display: flex;
}

.comments__title {
  align-self: flex-start;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  padding: 2.4rem 0 1.6rem 1.6rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #323232;
}

.comments__form {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 1.6rem;
  padding-right: 1.6rem;
  border-bottom: 1px solid #e1e1e1;
  line-height: 2.4rem;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.comments__img {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  min-height: 3.6rem;
  min-width: 3.6rem;
  max-height: 3.6rem;
  max-width: 3.6rem;
  margin-left: 2rem;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  align-self: flex-start;
  margin: 2rem 2rem 0 0;
}

.comments__sub-title {
  color: #afafaf;
  display: flex;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 500;
}

.comment__text-area {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 0.4rem;
  background-color: #fafafa;
  min-width: 80vw;
  max-height: 8rem;
  padding: 1.2rem;
  max-width: 70%;
  font-size: 1.4rem;
}
.comment__text-area:active {
  border: #323232 1px solid;
}

.comment__text-area__name {
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 0.4rem;
  background-color: #fafafa;
  min-width: 80vw;
  padding: 1rem;
  max-width: 70%;
  height: 3.6rem;
  font-size: 1.4rem;
}
.comment__text-area__name:active {
  border: #323232 1px solid;
}

.comments__default {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.comments__default__img {
  display: flex;
  border-radius: 50%;
  min-height: 3.6rem;
  min-width: 3.6rem;
  max-height: 3.6rem;
  max-width: 3.6rem;
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e1e1e1;
}

.comments__default__names {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 500;
  color: #323232;
  align-self: flex-start;
  padding: 2rem 0 0 1rem;
  line-height: 2rem;
}

.comments__default__dates {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  margin-left: auto;
  color: #e1e1e1;
  padding-top: 1rem;
  padding-left: 8rem;
}

.comments__default__info {
  padding-left: 5rem;
  color: #323232;
  font-size: 1.2rem;
  padding-bottom: 2.4rem;
  padding-top: -2rem;
}

.comment__btn {
  min-width: 80vw;
  min-height: 4rem;
  margin-top: 1.6rem;
  background-color: #323232;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 0.4rem;
}

.comments__section {
  display: flex;
  min-width: 80%;
  max-width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
}

#comment__imageId {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-width: 20%;
  flex-wrap: wrap;
}

.comments__list {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1.6rem;
  padding-right: 1.6rem;
  border-bottom: 1px solid #e1e1e1;
  line-height: 2.4rem;
}

.comment__information,
.comment__test {
  display: flex;
  flex-direction: column;
}
.comment__information p,
.comment__test p {
  display: flex;
  flex-direction: column;
}

#comment__infoId {
  display: flex;
  flex-direction: column;
}

#comments {
  display: flex;
  width: 100%;
}

.comment {
  display: flex;
}

.headerContainer {
  display: flex;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.footer .footer__icon {
  padding-right: 2rem;
}
.footer .nav__logo__tabplus {
  display: none;
}
.footer .footer__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 2.4rem 0 1.6rem 0;
}
.footer .social__contact {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  padding: 1.6rem 0 0 0;
}
.footer .social__standout {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding: 1.6rem 0 0 0;
}
.footer .social__copyright {
  padding: 1.6rem 0 1.6rem 0;
}
.footer .footer__logo {
  min-width: 12rem;
  min-height: 2rem;
  padding-top: 1.6rem;
}
.footer .footer__text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer .social__contact__section {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 15rem;
    flex-wrap: wrap;
  }
  .footer .footer__bandsite {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-self: center;
  }
  .footer .nav__logo__tabplus {
    display: flex;
    height: 2rem;
    width: 12rem;
  }
  .footer .social__contact {
    min-width: 30%;
  }
  .footer .footer__title {
    font-size: 3.6rem;
    padding-left: 4rem;
    display: flex;
    justify-content: flex-start;
  }
  .footer .footer__text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .footer .nav__brand__img {
    padding-left: 10rem;
    display: none;
  }
  .footer .footer__icons {
    display: inline-flex;
    padding: 1rem 0 0 2rem;
  }
  .footer .footer__top {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    justify-content: flex-start;
  }
  .footer .footer_bottom {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .social__copyright {
    min-width: 58rem;
    padding-left: 21.8rem;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .social__contact__section {
    justify-content: flex-start;
    height: 20rem;
  }
  .footer .social__contacts {
    padding: 2rem 2rem 0 5rem;
  }
  .footer .social__copyright {
    padding: 0 0 2rem 17rem;
  }
  .footer .footer__title {
    padding-right: 2rem;
  }
  .footer .footer__bandsite {
    width: 57vw;
  }
}/*# sourceMappingURL=bio.css.map */