@use "./partials/breakpoints" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/footer" as *;
@use "./partials/resets" as *;
@use "./partials/variables" as *;

// ! .. Shows NAV .. ! //

.nav {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  height: 9rem;

  &__brand-img {
    min-width: 12rem;
    min-height: 2rem;
    padding-bottom: 0.3rem;
    // padding-top: 1.6rem;
  }

  &__container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .nav__container-links,
  .nav__container-links-txt {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: $bandsite-silver;
    padding-bottom: 1.6rem;
    width: 50%;
    text-decoration: none;
  }
  .nav__container-links--active {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: $bandsite-white;
    padding-bottom: 1.6rem;
    width: 50vw;
    border-bottom: 4px solid white;
    list-style: none;
    text-decoration: none;
  }
  .nav__container-links--active-txt {
    font-size: 2rem;
    color: $bandsite-white;
    text-decoration: none;
  }
  // ! .. Media Queries .. ! //

  @include medium {
    justify-content: flex-start;
    flex-direction: row;

    &__container {
      justify-content: flex-start;
      padding: 3rem 4rem 0 0;
      max-width: 30rem;
    }
    &__brand-img {
      padding-left: 2.4rem;
    }

    &__container-links,
    .nav__container-links--active {
      max-width: 50%;
    }
    // &__container-links {
    //   padding-left: 4rem;
    // }
  }
  @include large {
    &__brand-img {
      padding-left: 12rem;
    }
  }
}

.headers__mobile {
  padding: $mobile__heading--padding;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

// ! .. Hero .. ! //

.hero {
  display: flex;
  background-color: $bandsite-black;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  opacity: 0.5;
  max-width: 100%;
  min-height: 30rem;
  padding: 2.4rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/Images/Photo-gallery-3.jpg");

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    padding-left: 1.6rem;
    color: $bandsite-white;
    align-self: flex-start;
  }
  &__title-sub-title {
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: 400;
    padding-left: 1.6rem;
    color: $bandsite-white;
    align-self: flex-start;
  }
  &__soundcloud-container {
    display: flex;
    align-self: center;
    margin: 0 1.6rem;
  }
  &__soundcloud-i-frame {
    display: flex;
    border-radius: 0.4rem;
    max-height: 12rem;
    min-width: 36rem;
    border: 1.6rem;
    height: fit-content;
  }

  // ! .. Media Queries .. ! //

  @include medium {
    display: flex;
    justify-content: space-around;
    min-height: 45rem;
    min-width: 100%;

    .hero__title {
      font-size: 6rem;
      line-height: 6rem;
      letter-spacing: 0.2rem;
    }
    &__title-sub-title {
      font-size: 3.2rem;
      padding-top: 2rem;
    }
    &__soundcloud-container {
      display: flex;
      align-self: flex-start;
      padding-top: 2rem;
      justify-content: flex-start;
    }
  }
  @include large {
    min-height: 60rem;
    justify-content: center;

    &__title-sub-title {
      padding-bottom: 2rem;
      font-weight: 600;
    }

    &__item-container {
      display: flex;
      flex-direction: row;
    }
  }
}
// ! .. Shows Section .. ! //

.shows {
  &__container {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    background-color: $bandsite-white;
  }

  &__div {
    padding: 1.6rem;
    border-top: 1.6rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $bandsite-mercury;
    line-height: 2.4rem;
  }
  &__title {
    color: $bandsite-black;
    font-size: 2.4rem;
    font-weight: 600;
    border-top: 1.6rem;
    padding: 0 0 2.4rem 1.6rem;
  }
  &__date-actual {
    color: $bandsite-black;
    font-size: 1.4rem;
    font-weight: 550;
  }
  &__sub-title {
    color: $bandsite-silver;
    font-size: 1.3rem;
  }
  &__venue-container {
    color: $bandsite-silver;
    font-size: 1.3rem;
  }
  &__venue-actual {
    color: $bandsite-black;
    font-size: 1.4rem;
  }
  &__location-container {
    color: $bandsite-silver;
    font-size: 1.4rem;
  }
  &__location-actual {
    color: $bandsite-black;
    font-size: 1.4rem;
  }

  &__buy-tickets-btn,
  &__tabplus-btn {
    max-width: 40rem;
    min-height: 4rem;
    margin-top: 1.6rem;
    background-color: $bandsite-black;
    color: $bandsite-white;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__sub-title-tabplus,
  &__tabplus-btn,
  &__tabplus-venue,
  &__tabplus-location {
    display: none;
  }
  &__sub-title-container {
    padding: 1.6;
    border-top: 1.6rem;
    display: none;
    flex-direction: column;
    line-height: 2.4rem;
  }

  // ! .. Media Queries .. ! //

  @include medium {
    &__div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0;
    }

    &__title {
      font-size: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &__sub-title-container {
      padding-top: 4rem;
      padding: 2.4rem 1.6rem 0 1.6rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__sub-title,
    &__venue-container,
    &__location-container {
      display: none;
    }
    .show__table-headers {
      color: $bandsite-silver;
      font-size: 5rem;
    }

    &__sub-title-tabplus,
    &__tabplus-venue,
    &__tabplus-location {
      display: flex;
      font-size: 1.2rem;
      color: $bandsite-silver;
      padding-bottom: -3rem;
    }

    &__tabplus-location {
      padding-right: 3rem;
    }
    &__tabplus-venue {
      padding-right: 2rem;
    }
    &__tabplus-btn {
      min-width: 10rem;
      max-width: 40rem;
      min-height: 4rem;

      background-color: $bandsite-white;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include large {
    &__sub-title-tabplus,
    &__tabplus-venue,
    &__tabplus-location {
      font-size: 1.3rem;
      font-weight: 500;
    }
    &__date-actual,
    &__venue-actual,
    &__location-actual {
      font-size: 1.6rem;
    }
  }
}
// ! .. Footer Section Below .. ! //
.footer {
  width: 100%;
  background-color: $bandsite-black;
  color: $bandsite-white;
  padding: $mobile__heading--padding;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  height: fit-content;

  .footer__icon {
    padding-right: 2rem;
  }
  .nav__logo-tabplus {
    display: none;
  }

  .footer__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 2.4rem 0 1.6rem 0;
  }
  .social__contact {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    padding: 1.6rem 0 0 0;
  }
  .social__standout {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding: 1.6rem 0 0 0;
  }

  .social__copyright {
    padding: 1.6rem 0 1.6rem 0;
  }

  .footer__logo {
    min-width: 12rem;
    min-height: 2rem;
    padding-top: 1.6rem;
  }

  .footer__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  // ! .. Media Queries .. ! //

  @include medium {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;

    .social__contact-section {
      display: flex;
      width: 100vw;
      justify-content: space-evenly;
      height: 15rem;
      flex-wrap: wrap;
    }
    .footer__bandsite {
      display: flex;
      width: 50vw;
      justify-content: flex-end;
      align-self: center;
    }
    .nav__logo-tabplus {
      display: flex;
      height: 2rem;
      width: 12rem;
    }

    .social__contact {
      min-width: 30%;
    }

    .footer__title {
      font-size: 3.6rem;
      padding-left: 4rem;

      display: flex;
      justify-content: flex-start;
    }
    .footer__text {
      @include footer__tab-text;
    }
    .nav__brand-img {
      padding-left: 10rem;
      display: none;
    }

    .footer__icons {
      display: inline-flex;
      padding: 1rem 0 0 2rem;
    }
    .footer__top {
      display: flex;
      flex-direction: row;
      min-width: 100vw;
      justify-content: flex-start;
    }
    .footer_bottom {
      display: flex;
      flex-direction: row-reverse;
    }
    .social__copyright {
      min-width: 58rem;
      padding-left: 21.8rem;
      justify-content: flex-start;
    }

    @include large {
      .social__contact-section {
        justify-content: flex-start;
        height: 20rem;
      }
      .social__contacts {
        padding: 2rem 2rem 0 5rem;
      }
      .social__copyright {
        padding: 0 0 2rem 17rem;
      }
      .footer__title {
        padding-right: 2rem;
      }
      .footer__bandsite {
        width: 57vw;
      }
    }
  }
}
